.social__icon {
    width: 25px;
    height: 25px;
}

.social__icon:not(:last-child) {
    margin-bottom: 20px;
}

.social__icon_first {
    background: url('/img/footer-1.svg') center center transparent no-repeat
}

.social__icon_second {
    background: url('/img/footer-2.svg') center center transparent no-repeat
}

.social__icon_third{
    background: url('/img/footer-3.svg') center center transparent no-repeat
}