.social__icon {
    width: 25px;
    height: 25px;
}

.footer__svg path {
    transition: fill .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.social__icon:hover .footer__svg path {
    fill: var(--color-main-orange);
}

.social__icon:active .footer__svg path {
    fill: var(--color-dark-orange);
}

.social__icon:not(:last-child) {
    margin-bottom: 20px;
}
