.placement__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.placement__item {
    flex: 1 1 33.33%;
    max-width: 374px;
    min-height: 440px;
    background: #FFFFFF;
    border-radius: 15px;
    padding-top: 249px;
    padding-left: 45px;
}

.placement__item_one {
    background: url(/img/8.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.placement__item_two {
    background: url(/img/9.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.placement__item_three {
    background: url(/img/10.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.placement__item_four {
    background: url(/img/11.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.placement__item_five {
    background: url(/img/12.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.placement__item_six {
    background: url(/img/13.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.placement__item_seven {
    background: url(/img/14.jpg) top no-repeat, #FFFFFF;
}

.placement__item_eight {
    background: url(/img/15.jpg) top no-repeat, #FFFFFF;
}

.placement__item_nine {
    background: url(/img/16.jpg) top no-repeat, #FFFFFF;
    padding-top: 373px;
    padding-left: 54px;
}

.placement__stars {
    padding-left: 45px;
}

.placement__gray {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.placement__price-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000
}

.placement__small {
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-left: 4px;
}

.placement__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-top: 16px;
}

.placement__location {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
    margin-top: 16px;
    margin-bottom: 33px;
}

.placement__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 15px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
}

.placement__all-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
}

.placement__icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(-45deg);
}