.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    margin-top: 20px;
}

.services__item {
    width: 573px;
    min-height: 330px;
    border-radius: 15px;
    padding-top: 191px;
    padding-left: 45px;
}

.services__item_first {
    background: url(/img/4.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.services__item_second {
    background: url(/img/5.jpg) top no-repeat, #FFFFFF;
    margin-bottom: 24px;
}

.services__item_third {
    background: url(/img/6.jpg) top no-repeat, #FFFFFF;
}

.services__item_fourth {
    background: url(/img/7.jpg) top no-repeat, #FFFFFF;
}

.services__icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 2px solid #CC9933;
    border-bottom: 2px solid #CC9933;
    transform: rotate(-45deg);
}

.services__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 200%;
    color: #CC9933;
}

.services__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    max-width: 402px;
}